:root {
    --dark-color: #1d1e2c;               /*font color*/
    --secondary-color: #59656f;          /*hover effect or weak font color*/
    --light-color: #d7cdcc;
    --background-color: #ffffff;
    --danger-color: #e63946;

    --gap: 1.2rem;
    --padding: 1.2rem;
    --padding-sl: 0.6rem;
    --padding-lg:4rem;
    --btn-padding: 0.6rem;
    --margin: 1.2rem;

    --border-radius:3px;

    --font-lg: 1.5rem;
    --font-xlg: 4rem;
    --font-sl: 0.8rem;
    --font-md: 1.1rem;
    --font-thin: 100;

    --transition-size:width 0.2s ease-in;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: var(--font-md);
}

h1 {
    font-size: var(--font-xlg);
}

a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

button {
    all: unset;
    cursor: pointer;
    font-size: var(--font-md);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* Layout */

body {
    display: grid;
    grid-template-columns: minmax(220px, 18%) auto;
    min-height: 100%;
    background-color: var(--background-color);
    color: var(--dark-color);
}

header {
    grid-column: 1/3;
}

nav {
    grid-column: 1/2;
}

main {
    grid-column: 2/3;
}

/* HEADER */

header {
    padding: var(--padding);
}

/* NAV */

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--padding);
    text-align: left;
}

nav>* {
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.nav-item>i {
    width: 1.8rem;
    font-size: 1.5rem;
    margin-right: var(--margin);
}

.project-item {
    margin-left: var(--margin);
    padding: var(--padding-sl);
}

#nav-project {
    text-decoration: underline;
}

nav>button {
    position: absolute;
    bottom: 0;
    margin-bottom: var(--padding-lg);
    border: 1px var(--secondary-color) dashed;
}

.nav-item:hover {
    background-color: var(--light-color);
}

.nav-item:active {
    text-decoration: underline;
}

/* MAIN */

main {
    padding: var(--padding);
}