:root {
    --dark-color: #1d1e2c;               /*font color*/
    --secondary-color: #59656f;          /*hover effect or weak font color*/
    --light-color: #d7cdcc;
    --active-color: #b6b303;
    --background-color: #ffffff;
    --danger-color: #e63946;

    --gap: 1.2rem;
    --padding: 1.2rem;
    --padding-sl: 0.6rem;
    --padding-lg:4rem;
    --btn-padding: 0.6rem;
    --margin: 1.2rem;

    --border-radius:3px;

    --font-lg: 1.5rem;
    --font-xlg: 4rem;
    --font-sl: 0.8rem;
    --font-md: 1.1rem;
    --font-thin: 100;

    --transition-size:width 0.2s ease-in;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: var(--font-md);
}

h1 {
    font-size: var(--font-xlg);
}

a {
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

button {
    all: unset;
    cursor: pointer;
    font-size: var(--font-md);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

/* Layout */

body {
    display: grid;
    grid-template-columns: minmax(250px, 18%) auto;
    min-height: 100%;
    background-color: var(--background-color);
    color: var(--dark-color);
}

header {
    grid-column: 1/3;
    margin: 0 auto;
    user-select: none;
    box-shadow: 0 1px 0.4rem 2px var(--dark-color);
    transition: box-shadow 0.7s ease-in-out;
}
header:hover {
    box-shadow: none;
}

nav {
    grid-column: 1/2;
}

main {
    grid-column: 2/3;
}

/* HEADER */

header {
    padding: var(--padding);
}

/* NAV */

nav{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--padding);
    text-align: left;
}

#nav-project {
    display: flex;
    flex-direction: column;
}

#nav-project>.nav-item{
    font-size: var(--font-md);
}

.nav-item {
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.nav-item>i {
    width: 1.8rem;
    font-size: 1.5rem;
    margin-right: var(--margin);
}

.project-item {
    padding: var(--padding-sl);
    border-radius: var(--border-radius);
}

.project-item:hover, .inbox:hover  {
    background-color: var(--light-color);
}

#add-project-form {
    display: none;
}

nav>button {
    position: absolute;
    bottom: 0;
    margin-bottom: var(--padding-lg);
}

.nav-item:active {
    text-decoration: underline;
}

/* MAIN */

main {
    padding: var(--padding);
    height: 100%;
    text-align: center;
}

main>h2 {
    margin-bottom: var(--margin);
}

/* Task Container */

#add-task-form {
    display: none;
}

#tags {
    display: none;
}

.tag-filter.active {
    font-weight: bold;
}

main>.add-task {
    margin-top: var(--margin);
}

table{
    width: 100%;
    text-align: center;
}

#table-head {
    font-size: var(--font-md);
    text-decoration: underline;
}

#project-tasks {
    color: var(--secondary-color);
}

/* Module */

.btn{
    border: 1px var(--secondary-color) dashed;
    padding: var(--padding);
    border-radius: var(--border-radius);
}

.btn>i {
    margin-right: var(--margin);
}

.btn:hover {
    background-color: var(--light-color);
}

.icon-btn {
    color:var(--secondary-color);
    padding: var(--btn-padding);
    transition: transform 0.1s ease-in;
}

.icon-btn:hover {
    color:var(--dark-color);
    transform: scale(1.4);
}

.fa-check:hover {
    color: rgb(19, 187, 19);
}

.fa-xmark:hover {
    color: var(--danger-color);
}

input{
    padding:4px var(--padding-sl);
    line-height: 20px;
    transition: width 0.2s ease-in;
}

input {
    width: 5rem;
    white-space:pre-line ;
}

input[type=date]{
    width: auto;
}

input:focus {
    width: 12rem;
}